<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="GloviaDBConnection" value="Data Source=AM2GP.World;User Id=marco_zeng;Password=AquKZ8jkz3BBQR0JBTO36g==;Connection Timeout=20" />
    <add key="BackEndJobConfigFile" value="C:\Logs\app.config"/>
    <add key="ReOpenFile" value="D:\IC Project\8-SIC Simplification and Automation Opportunities\Reports\Re-open.xls"/>
    <add key="StockStatusReport_CCN" value="C10000,C40000"/>
    <add key="StockStatusReport_Masloc" value="N30,COM,CPM,CTR,CSL,C30"/>
    <add key="TransactionHistoryReport_CCN" value="C10000"/>
    <add key="TransactionHistoryREport_Masloc" value="N30"/>
    <add key="Report_Conversion_Source_Folder" value="C:\Logs"/>
    <add key="Report_Conversion_Output_Folder" value="C:\Logs"/>
    <add key="Pull_Glovia_Report_Output_Folder" value="C:\Logs"/>
    <add key="FB_Report_FB_Original_Report" value="E:\On Way Checking 2014-07-25.xlsx"/>
    <add key="FBSC_Report_File" value="E:\FBSC.xlsx"/>
    <add key="FB_Report_Output_Folder" value="E:\"/>
    <add key="Ending_Balance_Report_Folder" value="E:\Glovia team\Reports"/>
    <add key="Ending_Balance_Output_Folder" value="E:\"/>    
  </appSettings>
</configuration>
